
/* Contenedor principal del Pomodoro */
.pomodoro-container {
  background-color: #16213e;
  padding: 2rem 3rem;
  border-radius: 2rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
}

/* Temporizador grande */
.pomodoro-container h1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0.5rem 0;
  font-family: 'Courier New', monospace;
  letter-spacing: 6px;
  color: #e0e0e0;
}

/* Selectores de tiempo */
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem 0;
  flex-wrap: wrap;
}

.controls label {
  font-weight: 600;
  color: #aaa;
}

.controls select {
  background-color: #0f3460;;
  border-radius: 15px;
  color:rgb(255, 255, 255);
  padding: 8px 32px 8px 12px;
  outline: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23cbd5e1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 14px;
  cursor: pointer;
}

/* Botones */
.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.btn-primary {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 40px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #45a049;
}

.btn-secondary {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 40px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-secondary:hover {
  background-color: #d32f2f;
}

.btn-reset {
  background-color: #555;
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 40px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-reset:hover {
  background-color: #777;
}


.timer-display {
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
  font-family: 'Courier New', monospace;
}